/*
    Where all of the styling for a TicTacToe Component will go.
    This is the styling for the gameboard
*/

#TicTacToe, table, th, td{
    border: 1px solid black;
}

#gameOutput{
    margin: 5%;
    border: 1px solid red;
}

/*Maybe the border-collapse property is what is causing the table
to collapse when the content inside changes?*/
table{
    width: 100%;
    height: 100%;
    border-collapse: separate; /*Borders are separated; each cell will display its own borders. This is default, apparently?*/
    table-layout: fixed;
}

